<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
    <div class="row valign-wrapper">
        <form class="col s6" action="/products" method="POST">
            <div class="row">
                <div class="input-field col s6">
                    <input id="product-name" name="productName" type="text" class="validate">
                    <label for="product-name">Product Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <textarea id="product-description" name="productDescription"
                        class="materialize-textarea validate"></textarea>
                    <label for="product-description">Product Description</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="product-price" name="productPrice" type="number" class="validate">
                    <label for="product-price">Product Price</label>
                </div>
            </div>
            <div class="row">
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Product-Image</span>
                        <input type="file" name="productImage">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate col s6" type="text">
                    </div>
                </div>
            </div>

            <button type="submit" class="btn"> Submit</button>
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>